/*
 *  Helpers
*/

/* Position */

.clearfix 
  clear: both

.f-left 
  float: left

.f-right 
  float: right

.no-float 
  float: none

.margin-auto 
  margin: 0 auto


/* Text */

.bold 
  font-weight: bold

.align-center 
  text-align: center

.align-left 
  text-align: left

.align-right 
  text-align: right

.letter-inline 
  letter-spacing: -3px

.uppercase 
  text-transform: uppercase

.invert-decoration 
  text-decoration: none

.invert-decoration:hover 
  text-decoration: underline


/*  Display  */

.inline 
  display: inline-block

.table-emulate 
  display: table

.cell-emulate 
  display: table-cell
  float: none

.valign-middle 
  vertical-align: middle

.valign-top 
  vertical-align: top

.valign-bottom 
  vertical-align: bottom

.no-border-radius 
  border-radius: 0px

.no-margin 
  margin-top: 0px !important
  margin-bottom: 0px !important
  margin-left: 0px !important
  margin-right: 0px !important

/*  Sizes  */

.third 
  width: 33%

.half 
  width: 50%

.full 
  width: 100%

@media (max-width: 767px)
  .container.inner-padding 
    padding: 0px 34px

  .xs-no-padding 
    padding: 0px

  .xs-align-center 
    text-align: center

  .xs-align-left 
    text-align: left

  .xs-align-right 
    text-align: right

  .xs-table-emulate 
    display: table

  .xs-cell-emulate 
    display: table-cell

  .xs-full 
    width: 100%

@media (min-width: 768px) 
  .table-md 
    display: table

  .cell-md 
    display: table-cell
    float: none
    vertical-align: middle
  
